/* seems like each spirte is 70px wide and 80px high */
.character{
	width:70px;
	height:80px;
	display:inline-block;
	position:absolute;
	top:120px;
	left:100px;
	
	}
#field{
	background-image: url('http://slateman.net/images/gaming/backgrounds/sfz2/sfz2-dan.gif');
	width:621px;
	height:224px;
	position:relative;
}
h1{
	font-size:16px;
}
body{
	font-size:12px;
	text-align: center;
	background-color: peachpuff;
}
h2{
	font-size:20px;
	margin-top: 20px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	background-color: indianred;
	border: 2px dashed black;
	}

li {
	list-style-type: none;
	font-size: 18px;
}

.instructions {
	background-color: palevioletred;
	border: 2px dashed black;
	margin:10px
}